@media (max-width:1054px) {
    .burger {
        display: flex;
    }
    .nav-list {
        display: none;
    }
    .nav-list.opened {
        display: flex;
        flex-direction: column;
        position: absolute;
        left:60%;
        background-color: rgb(241, 241, 241);
        width: 40%;
        font-size: 45px;
        opacity: .98;
        align-items: end;
        padding-right: 50px;
    }
    .header-nav {
        height: 10vh;
    }
    .main-header {
        font-size: 32px;
        line-height: 1em;
    }
    .header {
        height: fit-content;
        background-color: rgb(241, 241, 241);
        padding-top: 50px;

    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .content-about {
        max-width: 100%;
        padding-bottom: 1em;
    }   
    .content-hero {
        align-self: center;
    }

    .service-card {
        text-align: start;
    }
    .portfolio {
        text-align: center;
        height: 100%;
        background-color: rgb(241, 241, 241);
    }
}
@media (max-width:730px) {
    .burger {
        display: flex;
    }
    .nav-list {
        display: none;
    }
    .nav-list.opened {
        display: flex;
        flex-direction: column;
        position: absolute;
        left:0;
        font-size: 45px;
        background-color: rgb(241, 241, 241);
        width: 100%;
        opacity: .98;
        align-items: end;
        padding-right: 50px;
    }
    /* header */
    .header-nav {
        height: 10vh;
    }
    .header {
        height: fit-content;
        padding-top: 50px;
        background-color: rgb(241, 241, 241);
    }
    .main-header {
        font-size: 32px;
        line-height: 1em;
    }
    .container {
        height: 100%;
    }
    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 20px;
    }
   
    .content-hero {
        align-self: center;
    }
    /* services */
    .services {
        height: fit-content;
    }
    .services-row {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
    .service-card {
        text-align: center;
    }
    .service-card-img {
        align-items: center;
    }
}